<h1 mat-dialog-title>Termék létrehozása</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="fill">
      <mat-label>Név</mat-label>
      <input formControlName="name" type="text" matInput>
      <mat-error *ngIf="productForm.controls['name'].hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Ár</mat-label>
      <input type="number" formControlName="price" matInput>
      <mat-hint>Only numbers</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Leírás</mat-label>
      <textarea formControlName="description" matInput></textarea>
      <mat-error *ngIf="productForm.controls['description'].hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input formControlName="created_at" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="primary" (click)="onCreateProduct()" [disabled]="productForm.invalid">{{ actionBtn }}</button>
  <button mat-raised-button color="warn" type="button" (click)="onCancelBtn()">Mégse</button>
</div>
